@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.loading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; /* Màu nền mặc định */
    animation: changeColor 5s infinite alternate;
}

@keyframes changeColor {
    0% { background-color: #000d6b; }
    50% { background-color: #7a86e5; }
    100% { background-color: #a196ad; }
}