@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.loading_container_admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; /* Màu nền mặc định */
    animation: changeColor 5s infinite alternate;
}

@keyframes changeColor {
    0% { background-color: #202A40; }
    50% { background-color: #1f2239; }
    100% { background-color: #688081; }
}