body{
    font-family: "Roboto", sans-serif;
}
.container{
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr; /* Tạo hai cột có kích thước bằng nhau */
    justify-items: center; /* Canh giữa các phần tử theo chiều ngang */
    align-items: center; /* Canh giữa các phần tử theo chiều dọc */
    height: 100vh; /* Chiều cao của container */


}



img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.left-part{
    left: 50px;
    position: relative;
    display: flex;
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; /* Canh giữa theo chiều dọc */
    background-color: white;
    width: 30vw;
    height: 100vh;
    /* display: block; */
}
.left-part-container{
    position: absolute;
    top:-3%;
    padding: 3vw;
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-part{
    background-color: ffff;
    width: 43vw; 
    height: 120vh;
    justify-content: center; 
    /* align-items: left;  */
    /* display: block; */
}

button {
    margin: auto;
    
}

.google-login, .facebook-login {
    align-items: center; /* Canh giữa theo chiều dọc */
}


.sign-in-btn,.google-login,.facebook-login{
    width: 350px;
    height:40px;
  }
  
  
  
  .left-footer{
    top: 100%;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center; 
    align-items: center; 
    width: 100%
  }
  
  .input-field{
    height:10px;
    background-color: #F2F2F2;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    margin-top: 5px;
}
.sign-in-btn{
    background-color: #162D3A;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: white;
    display: block;
    font-weight: bold;
    margin-top:30px;
}

 .centered {
  width: 90%;
  margin-top: 40px;
  position: relative; 
  left: 50%;

  transform: translateX(-50%);
}

.line-or {
  display: flex;
  align-items: center;
}


.text {
  padding: 0 10px;
  color: #555;
  font-weight: bold;
}

  
.line {
  flex: 1;
  /* width: 50%; */
  border: none; 
  border-top: 1px solid #ccc; 
  margin: 0 10px;
  
}

  
.text {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5px 10px;
} 


span{
    color: #000;
}
  

.google-login{
    background-color: #F3F9FA;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: white;
    display: block;
    font-weight: bold;
    margin-top:30px;
}

.facebook-login{
    background-color: #F3F9FA;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: white;
    display: block;
    font-weight: bold;
    margin-top:30px
}

a{
    color: #007AFF;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .radio-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  @media screen and (max-width: 1200px) {
    .right-part{
        visibility: visible;
        width: 0px;
        height: 0px;
    }
    .container{
        display: block;
    }
    .left-part{
        width: 94vw;
        font-size: 2.5vh
    }
  }

  @media screen and (max-width: 850px) {
    .container{
      position: relative;
      display: flex;
      flex-direction: row; /* Chuyển sang chế độ dàn trải theo hàng */
      align-items: center;
      justify-items: center; /* Canh giữa các phần tử theo chiều ngang */


      
    }
    .right-part{
      visibility: visible;
        position: absolute;
        left: 15%;
        top: 0;
        order: 1;
        width: 100vw;
        height: 30vh;
        
      }
      img{
        width: 360px;
        height: 120px;
        border-radius: 10px;
      }
  
      .left-part{
        position: absolute;
        align-items: center;

        top: 13% ;
        order: 2;
        width: 95vw;
        font-size: 1.5vh;
        height:20%;
    }
    .left-footer{
      margin-top: 10px;
    }
  }
